# Disable directory browsing
Options -Indexes

# Set default character set
AddDefaultCharset UTF-8

# Enable CORS
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>

# Deny access to sensitive files
<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp)|~)$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>

# Only allow specific PHP files to be accessed directly
<FilesMatch "^(send)\.php$">
    Order allow,deny
    Allow from all
</FilesMatch>
